# ignore dlib model
dlib_model

# ignore ipython files
*.ipynb

# ignore ipython checkpoints
.ipynb_checkpoints

# ignore data files of prnet
net-data
uv-data

# ignore python compiled files.
*.pyc






